<div id="<%= dom_id record %>">
  <p>
    <strong>Title:</strong>
    <%= record.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= link_to record.artist.name, artist_path(record.artist) if record.artist %>
  </p>
</div>
