<h1>Editing jazz cafe</h1>

<%= render "form", jazz_cafe: @jazz_cafe %>

<br>

<div>
  <%= link_to "Show this jazz cafe", @jazz_cafe %> |
  <%= link_to "Back to jazz cafes", jazz_cafes_path %>
</div>
